/* ----- 0. roots ----- */

:root {
  --clr-bg: #1f2937;
  --clr-bg-quo: #e5e7eb;

  --clr-font-dbl: #1f2937;
  --clr-font-w: #f9faf8;
  --clr-font-quo: #1f2937;

  --clr-btn: #3882f6;

  --ff-primary: "roboto", sans-serif;
}

/* ----- 1. Layout ----- */

/* generics & groupings */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header */

.bg-header {
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  max-width: 64em;
  margin: 0 auto;
  padding: 1rem;
}

.header-nav ul {
  display: flex;
  gap: 1rem;
}

/* intro */

.bg-section-intro {
  width: 100%;
  max-height: 45vh;
  flex: 1;
}

.intro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 64rem;
  margin: 0 auto;
  padding: 1rem 1rem 2.5rem 1rem;
  gap: 3rem;
}

.intro-container div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  flex: 1;
  max-width: 30rem;
}

.intro-btn {
  justify-self: center;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}

.intro-container img {
  flex: 1;
  min-width: 12rem;
  max-width: 24rem;
}

/* gallery */

.bg-section-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50vh;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 64rem;
  padding: 1rem;
}

.gallery-container h2 {
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.shop-items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 1rem;
}

figure {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 14rem;
  min-width: 10rem;
}

.shop-items {
  margin-bottom: 0.5rem;
}

/* quote */

.bg-section-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 30vh;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  text-align-last: left;
  max-width: 48rem;
  padding: 1rem;
}

.quote-container h3 {
  align-self: flex-end;
}

/* call to action */

.bg-section-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 20vh;
  padding: 1rem;
}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem 2.5rem;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.3rem;
}

/* ----- 2. Typography ----- */

body {
  font-family: var(--ff-primary);
}

logo {
  font-size: 1.2rem;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
}

h2 {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: lighter;
  letter-spacing: 0.01rem;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

p {
  font-size: 0.9rem;
  font-weight: lighter;
  letter-spacing: 0.02rem;
}

header a {
  font-weight: 300;
}

.gallery-container h2 {
  font-weight: 700;
  font-size: 1.8rem;
}

figcaption {
  font-size: 0.9rem;
  text-align: justify;
}

.cta-container h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

footer {
  font-family: "roboto";
  font-weight: 200;
  letter-spacing: 0.05rem;
}

/* ----- 3. Stylistic ----- */

body {
  color: var(--clr-font-dbl);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.bg-header,
.bg-header a,
.bg-section-intro,
.bg-section-cta,
footer,
button {
  color: var(--clr-font-w);
}

.bg-header,
.bg-header a,
.bg-section-intro,
footer {
  background: var(--clr-bg);
}

.bg-section-quote {
  background: var(--clr-bg-quo);
}

.intro-btn,
.cta-container,
.cta-btn {
  background: var(--clr-btn);
}

.intro-btn {
  border: none;
}

img,
.intro-btn,
.cta-container,
.cta-btn {
  border-radius: 0.4rem;
}

.cta-btn {
  border-style: solid;
  border-width: 0.1rem;
  border-color: var(--clr-font-w);
  padding: 0.3rem 0.5rem;
}
